/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
}

.header {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none; /* Ensure no borders */
}

.nav-left, .nav-right {
    display: flex;
}

.nav-link {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.nav-link.pop-out {
    transform: scale(1.2);
}

.nav-button {
    height: 35px; /* Adjust the height as needed */
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 0 25px; /* Adjust margin as needed */
}

.logo {
    height: 70px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.mission, .events, .clubs {
    padding: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #616060;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.mission:hover, .events:hover, .clubs:hover {
    scale: 1.1;
}

.mission h2, .events h2, .clubs h2{
    font-size: 40px;
    margin-bottom: 10px;
    color: #ff1500;
    text-align: center;
}

.mission p, .events p, .clubs p {
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
    font-size: 30px;
}

#banner-image {
    opacity: 0;
}

.socials {
    padding: 20px;
    background-color: #616060;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 1400px;
}

.socials h2 {
    font-size: 75px;
    margin-bottom: 20px;
    color: #ff1500;
}

.socials-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.social i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #555;
}

.social a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #007bff;
    font-size: 30px;
    color: #ffffff;
    margin-right: 30px;
}

.social:hover {
    transform: scale(1.1);
}

.social-icon {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.profile-section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #616060;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-section h2 {
    font-size: 90px;
    margin-bottom: 10px;
    color: #ff1500;
}

.profile-section .profile {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.profile-section img {
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.profile-section img:hover {
    scale: 1.1;
}

.profile-section a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.profile-section a:hover {
    text-decoration: underline;
}

.our-clubs {
    padding: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #616060;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.our-clubs h2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #ff1500;
    width: 100%;
}

.our-clubs .eternal-club, .our-clubs .aura-club, .our-clubs .flames-club, .our-clubs .havoc-club {
    margin: 20px;
    padding: 15px;
    background-color: #7d7d7d;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    max-width: 400px;
    text-align: center;
}

.our-clubs .eternal-club h3, .our-clubs .aura-club h3, .our-clubs .flames-club h3, .our-clubs .havoc-club h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
}

.our-clubs .eternal-club img, .our-clubs .aura-club img, .our-clubs .flames-club img, .our-clubs .havoc-club img {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.our-clubs .eternal-club img:hover, .our-clubs .aura-club img:hover, .our-clubs .flames-club img:hover, .our-clubs .havoc-club img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    scale: 1.5;
    padding-top: 6%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.all-events {
    padding: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #616060;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
.all-events h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #ff1500;
    width: 100%;
}
  
  .current-events, .past-events {
    margin: 20px;
    padding: 15px;
    background-color: #7d7d7d;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    max-width: 1400px;
    text-align: center;
  }
  
  .current-events h2, .past-events h2 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .current-events a, .past-events a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
  }
  
  .current-events img, .past-events img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .current-events img:hover, .past-events img:hover {
    transform: scale(1.1);
  }